.input[type="checkbox"] {
  display: none;
}

.input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--line01);
  border-radius: 4px;
}

.input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  background-color: var(--main);
  top: 5px;
  left: 11px;
  width: 2px;
  height: 11px;
  transform: rotate(45deg);
}

.input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  background-color: var(--main);
  top: 8px;
  left: 5px;
  width: 2px;
  height: 6px;
  transform: rotate(-45deg);
}
