.header {
  padding: 18px 40px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  display: flex;
  align-items: center;
}

.signIn {
  color: #717176;
  font-weight: 700;
  font-size: var(--xl);
  text-decoration: none;
}

.signOut {
  color: #717176;
  font-weight: 700;
  font-size: var(--xl);
  border: none;
  background: transparent;
  margin-left: 8px;
  cursor: pointer;
}
