.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 큰 창일 때 4개 */
  gap: 14px;
  justify-items: center;
}

@media (max-width: 738px) {
  .container {
    grid-template-columns: repeat(1, 1fr); /* 작은 창일 때 2개 */
  }
}

.goodImageWrapper {
  display: flex;
  gap: 13px;
}

.badImageWrapper {
  display: flex;
  gap: 13px;
}
