.form > button {
  margin-top: 40px;
}

.form > div {
  margin-bottom: 20px;
}

.emailWrapper {
  display: flex;
  align-items: end;
  gap: 8px;
}

.emailWrapper > div {
  flex-grow: 1;
}

.emailWrapper > button {
  max-width: 114px;
  height: fit-content;
}

.authWrapper {
  position: relative;
}

.authWrapper > div {
  position: relative;
}

.authButton {
  background-color: transparent;
  border: none;
  color: var(--text03);
  font-size: md;
  font-weight: 700;
  cursor: pointer;
  padding: 13px 20px 13px 20px;
  position: absolute;
  top: 30px;
  right: 0px;
}

.authButton:disabled {
  cursor: default;
  color: var(--main);
}
