.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 큰 창일 때 4개 */
  gap: 14px;
  justify-items: center;
  margin-top: 55px;
}

.status {
  position: absolute;
  top: -35px;
  left: 40%;
  font-size: var(--xxl);
  line-height: 32px;
  font-weight: 700;
  display: flex;
  gap: 4px;
}

.title {
  font-weight: 700;
  font-size: var(--xxl);
  text-align: left;
}

@media (max-width: 738px) {
  .container {
    grid-template-columns: repeat(1, 1fr); /* 작은 창일 때 2개 */
  }
  .title {
    text-align: center;
  }
}

.text {
  margin-top: 10px;
  font-size: var(--md);
  color: var(--text02);
  line-height: 21px;
}

.goodImageWrapper {
  position: relative;
  display: flex;
  gap: 13px;
  margin-bottom: 20px;
}

.badImageWrapper {
  position: relative;
  display: flex;
  gap: 13px;
}

.uploadContainer {
  margin-top: 40px;
  border: 1px solid var(--line01);
  background-color: var(--bg03);
  border-radius: 20px;
  height: 256px;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.previewContainer {
  position: relative;
}

.previewContainer svg {
  position: absolute;
  top: -14px;
  right: -14px;
  cursor: pointer;
}

.uploadContainer div {
  color: var(--text03);
  font-size: var(--md);
  margin-top: 12px;
}

.activate {
  border: 3px dashed #3a49e680;
  height: 253px;
}

.uploadContainer label {
  display: inline-block;
  background-color: var(--main);
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: var(--xl);
  cursor: pointer;
  padding: 12px 20px;
}

.activate label {
  background-color: var(--line01);
}

.uploadContainer input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
